body {
margin: 0;
font-family: 'Roboto Slab', serif;
font-style: normal;
font-weight: 400;
font-size: calc(8px + 0.7vw);
line-height: 120%;
}
.head {
  padding: 2rem;
  background-color: lightcoral;
  color: whitesmoke;
}
.name {
  margin: 0 0 8px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  line-height: 100%;
}
.position {
  margin: 0 0 8px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 100%;
}
.about_me {
  margin: 0;
}
.my_photo {
  margin: 0 20px 0 0;
  width: 10em;
  height: 10em;
  border-radius: 0 50%;
  float: left;
}
