body {
margin: 0;
font-family: 'Roboto Slab', serif;
font-style: normal;
font-weight: 400;
font-size: calc(10px + 0.5vw);
line-height: 120%;
}
/* #region about */
.head {
  padding: 2em;
  background-color: lightcoral;
  color: whitesmoke;
}
.name {
  margin: 0 0 0.3em 0;
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  line-height: 100%;
}
.position {
  margin: 0 0 0.3em 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 100%;
}
.about_me {
  margin: 0;
}
.my_photo {
  margin: 0 2em 0 0;
  width: 10em;
  height: 10em;
  border-radius: 0 50%;
  float: left;
}
/* #endregion */

.main {
  padding: 0 4em;
}
.contacts {
  padding: 1em 0;
  /* display: flex  ;
  justify-content: space-between; */
  text-align-last: justify;
}
.contacts a {
  color: black;
  text-decoration: none;
}