body {
margin: 0;
font-family: 'Roboto Slab', serif;
font-style: normal;
font-weight: 400;
font-size: calc(10px + 0.5vw);
line-height: 120%;
}
/* #region about */
.head {
  padding: 2em;
  background-color: lightcoral;
  color: whitesmoke;
}
.name {
  margin: 0 0 0.3em 0;
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  line-height: 100%;
}
.position {
  margin: 0 0 0.3em 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 100%;
}
.about_me {
  margin: 0;
}
.my_photo {
  margin: 0 2em 0 0;
  width: 10em;
  height: 10em;
  border-radius: 0 50%;
  float: left;
}
/* #endregion */

.main {
  padding: 0 2em;
}
.contacts {
  padding: 1em 0;
  max-width: 80vw;
  min-width: max-content;
    /* display: flex  ;
  justify-content: space-between; */
  text-align-last: justify;
}
.contacts a {
  padding: 4px;
  color: black;
  text-decoration: none;
  /* border: 4px double; */
  border-radius: 6px;
  box-shadow: 8px 4px 5px dimgray;
}
.contacts a:active {
  box-shadow: none;
  color: blue;
}
.resume {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  /* padding: 2vw; */
}
.resume .title {
  margin: 0;
  padding: 2vw;
  color: rgb(243, 86, 86);
  text-shadow: -1px -1px 1px black;
}
 .resume .about {
  margin: 0;
  width: 60vw;
  color: rgb(49, 46, 46);
}
.job {
  margin: 2vw 0;
  padding-left: 8px;
  border-left: 1px dashed gray;
}
.skills {
  display: flex;
  justify-content: space-between;
}
.skills .job {
  width: 30vw;
}